@import "./styles/colors.scss";

body {
    background-color: $background;
    margin: 0;
    padding: 2rem;
    box-sizing: content-box;
    font-size: 18px;
    
    margin: auto;
    width: 1378px;
}

h2 {
    color: $frost-darker;
}
  
  